
#nav {
  width: 20%;
  height: 100%;
  background-color: #575757;
  position: absolute;
}

.nav-item {
  color: white;
  font-size: 1.2em;
  font-weight: 100;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  border-bottom: solid white 1px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

.hamburger {
  background-image: url('../../img/hamburger.svg');
  background-size: cover;
  width: 44px;
  height: 44px;
  /*margin-top: 0;*/
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background-size: 32px 32px;
  background-position: 4px 4px;
}
